.products__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $lightGrey;
  padding-bottom: 1.5em;
}

.products__top_left {
  width: 50%;
}

.products__heading {
  font-size: 3em;
  font-weight: 700;
  color: $green;
  position: relative;
}

.products__heading::after {
  content: '';
  position: absolute;
  top: -17px;
  width: 60px;
  height: 60px;
  background-image: url(../assets/img/leaf.svg);
  background-repeat: no-repeat;
  background-size: 60px;
}

.products__text {
  margin-top: 0.5em;
  color: $grey;
}

.products__top_right {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.products__sort-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: -15px;
  align-items: flex-end;
}

.products__sort-form {
  width: fit-content;
}

.products__sort-list,
.products__sort-tile {
  cursor: pointer;
  width: 21px;
  height: 21px;
  border: 1px solid $lightGrey;
}

.products__sort-list {
  background: url(../assets/img/icons/list.svg) no-repeat center;
  background-size: contain;
}

.products__sort-tile {
  background: url(../assets/img/icons/grid.svg) no-repeat;
  background-size: contain;
  margin-bottom: 1px;
}

.products__sort-select {
  border: none;
  cursor: pointer;
  color: inherit;
}

.products__sort-fieldset {
  border: 1px solid $lightGrey;
  padding: 0.35em 0.75em 0.2em;
  height: 3.1em;
}

.products__sort-fieldset:hover {
  color: $green;
}

.products__search-form {
  float: right;
}

.products__search-input {
  width: 200px;
  height: 42px;
  margin-left: auto;
  padding-left: 15px;
  border: 1px solid $lightGrey;
  outline: none;
  position: relative;
  transition: 0.3s linear;
  background: url(../assets/img/icons/search.svg) no-repeat right 10px center, #ffffffcc;
}

.products__search-input:focus {
  width: 250px;
}

.products__sort-list:hover,
.products__sort-tile:hover,
.checked {
  filter: invert(40%) sepia(79%) saturate(628%) hue-rotate(121deg) brightness(80%) contrast(101%);
}

.products__found {
  text-align: right;
  color: $grey;
}
