.products__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $lightGrey;
  padding-bottom: 1.5em;
}

.products__top_left {
  width: 50%;
}

.products__heading {
  font-size: 3em;
  font-weight: 700;
  color: $green;
  position: relative;
}

.products__heading::after {
  content: '';
  position: absolute;
  top: -17px;
  width: 60px;
  height: 60px;
  background-image: url(../assets/img/leaf.svg);
  background-repeat: no-repeat;
  background-size: 60px;
}

.products__text {
  margin-top: 0.5em;
  color: $grey;
}

.products__top_right {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.products__sort-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: -15px;
  align-items: flex-end;
}

.products__sort-form {
  width: fit-content;
}

.products__sort-list,
.products__sort-tile {
  cursor: pointer;
  width: 21px;
  height: 21px;
  border: 1px solid $lightGrey;
}

.products__sort-list {
  background: url(../assets/img/icons/list.svg) no-repeat center;
  background-size: contain;
}

.products__sort-tile {
  background: url(../assets/img/icons/grid.svg) no-repeat;
  background-size: contain;
  margin-bottom: 1px;
}

.products__sort-select {
  border: none;
  cursor: pointer;
  color: inherit;
}

.products__sort-fieldset {
  border: 1px solid $lightGrey;
  padding: 0.35em 0.75em 0.2em;
  height: 3.1em;
}

.products__sort-fieldset:hover {
  color: $green;
}

.products__search-form {
  float: right;
}

.products__search-input {
  width: 200px;
  height: 42px;
  margin-left: auto;
  padding-left: 15px;
  border: 1px solid $lightGrey;
  outline: none;
  position: relative;
  transition: 0.3s linear;
  background: url(../assets/img/icons/search.svg) no-repeat right 10px center, #ffffffcc;
}

.products__search-input:focus {
  width: 250px;
}

.products__sort-list:hover,
.products__sort-tile:hover,
.checked {
  filter: invert(40%) sepia(79%) saturate(628%) hue-rotate(121deg) brightness(80%) contrast(101%);
}

.products__found {
  text-align: right;
  line-height: 1.5em;
  color: $grey;
}

.products__bottom {
  display: flex;
  padding-top: 1.6em;
}

.products__filters {
  width: 250px;
}

.products__btns-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  margin-top: -30px;
}

.products__filter-btn {
  padding: 0.4em;
  width: 120px;
  border: 1px solid $lightGrey;
  background-color: $paleGreen;
}

.btn {
  transition: border-color 0.3s;
}

.btn:hover {
  border-color: $darkGreen;
  color: $darkGreen;
}

.btn:active {
  background-color: #00ab8452;
}

.products__filter-heading {
  font-size: 1.2em;
  color: $green;
  margin-bottom: 1em;
}

.products__filters-set {
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 0;
  border-bottom: 1px solid $lightGrey;
}

.checkbox {
  position: absolute;
  left: 0;
  opacity: 0;
  user-select: none;
}

.label {
  position: relative;
  cursor: pointer;
  padding-left: 1.7em;
}

.label>span::before {
  content: '';
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  left: 0;
  opacity: 1;
  border: 1px solid #adb5bd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.label>input:checked+span::before {
  border-color: black;
  background-image: url("../assets/img/icons/checked.svg");
}

.label>input:checked+span {
  font-weight: 600;
}

.label:hover>input:not(:disabled):not(:checked)+span::before {
  border-color: $green;
}

.label>input:disabled+span::before {
  background-color: $lightGrey;
  border-color: $lightGrey;
}

.label>input:disabled+span {
  color: $grey;
}

.products__price-min-max,
.products__stock-min-max {
  display: flex;
  justify-content: space-between;
}

input[type=range] {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(grey, grey) no-repeat center;
  background-size: 100% 2px;
  pointer-events: none;
}

input[type=range]:active,
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 18px;
  background-color: $green;
  position: relative;
  margin: 5px 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

input[type=range]::-webkit-slider-thumb::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}

.products__range {
  position: relative;
  height: 50px;
}

.products__range input[type=range] {
  position: absolute;
}

.products__range input[type=range]:nth-child(2) {
  background: none;
}

.products__container {
}